<div class="nav dropdown">
    <select class="form-control select-control" id="selectedItem">
        <option value="">Select Item</option>
        <option value="A">A</option>
        <option value="B">B</option>
    </select>
</div>