<section class="sidebar">
    <div class="nav option">
        <span class="option-btn">Option</span>
    </div>
    <div class="nav quantity">
        <label for="quantity">Quantity</label>
        <div class="quantity-input">
            <input class="form-control" id="quantity" type="number" min="0" max="100" placeholder="Type here" />
        </div>
    </div>
</section>