<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/main.css" rel="stylesheet">
    <script src="js/index.js" defer></script>
</head>

<body>
    <div class="container">
        <%- include('../partials/sidebar') %>
        <section class="main">
            <div class="cards"></div>
            <div class="pagination">
                <span class="prev">Prev</span>
                <span class="next">Next</span>
            </div>
        </section>
    </div>
    <%- include('../partials/dropdown') %>
</body>

</html>